<!--### Source material taken from:
###		https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
### 	March 2, 2015
### No explicit license -->

{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Friends{% endblock %}
{% block content %}

{% if friend_requests %}
<div class="panel panel-default" style="word-wrap: break-word;">
    <div class="panel-heading">
        <h1 class="panel-title">Friend Requests</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for author in friend_requests %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {% if author.user and author.has_picture %}
                        <img class= 'img-responsive' src="/media/{{author.get_picture}}/" alt="profile picture" style="height: 100px; display: block;"/>
                        {% else %}
                        <img class="img-responsive" src="{% static 'profile.png' %}" alt="profile picture" style="height: 100px; display: block;"/>
                        {% endif %}
                        <div class="caption">
                            {% if author.user %}
                                <h3><a href="/home/{{ author.uid }}">{{ author.user.username }}</a></h3>
                            {% else %}
                                {% if author.get_author_hostname == 'hindlebook' %}
                                    <h3 style="color:#006666">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% else %}
                                    <h3 style="color:#CC6600">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% endif %}
                            {% endif %}
                            <button type="button" class="btn btn-primary" onClick="window.location='/friends/befriend/{{ author.uid }}';">Accept</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="panel panel-default" style="word-wrap: break-word;">
    <div class="panel-heading">
        <h1 class="panel-title">Friends</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for author in friends %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {% if author.user and author.has_picture %}
                        <img class= 'img-responsive' src="/media/{{author.get_picture}}/" alt="profile picture" style="height: 100px; display: block;"/>
                        {% else %}
                        <img class="img-responsive" src="{% static 'profile.png' %}" alt="profile picture" style="height: 100px; display: block;"/>
                        {% endif %}
                        <div class="caption">
                            {% if author.user %}
                                <h3><a href="/home/{{ author.uid }}">{{ author.user.username }}</a></h3>
                            {% else %}
                                {% if author.get_author_hostname == 'hindlebook' %}
                                    <h3 style="color:#006666">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% else %}
                                    <h3 style="color:#CC6600">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% endif %}
                            {% endif %}
                            <button type="button" class="btn btn-danger" onClick="window.location='/friends/unbefriend/{{ author.uid }}';">Unbefriend</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="panel panel-default" style="word-wrap: break-word;">
    <div class="panel-heading">
        <h1 class="panel-title">Following</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for author in following %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {% if author.user and author.has_picture %}
                        <img class= 'img-responsive' src="/media/{{author.get_picture}}/" alt="profile picture" style="height: 100px; display: block;"/>
                        {% else %}
                        <img class="img-responsive" src="{% static 'profile.png' %}" alt="profile picture" style="height: 100px; display: block;"/>
                        {% endif %}
                        <div class="caption">
                            {% if author.user %}
                                <h3><a href="/home/{{ author.uid }}">{{ author.user.username }}</a></h3>
                            {% else %}
                                {% if author.get_author_hostname == 'hindlebook' %}
                                    <h3 style="color:#006666">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% else %}
                                    <h3 style="color:#CC6600">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% endif %}
                            {% endif %}
                            <button type="button" class="btn btn-danger" onClick="window.location='/friends/unfollow/{{ author.uid }}';">Unfollow</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="panel panel-default" style="word-wrap: break-word;">
    <div class="panel-heading">
        <h1 class="panel-title">Other Authors</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for author in not_friends %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {% if author.user and author.has_picture %}
                        <img class= 'img-responsive' src="/media/{{author.get_picture}}/" alt="profile picture" style="height: 100px; display: block;"/>
                        {% else %}
                        <img class="img-responsive" src="{% static 'profile.png' %}" alt="profile picture" style="height: 100px; display: block;"/>
                        {% endif %}
                        <div class="caption">
                            {% if author.user %}
                                <h3><a href="/home/{{ author.uid }}">{{ author.user.username }}</a></h3>
                            {% else %}
                                {% if author.get_author_hostname == 'hindlebook' %}
                                    <h3 style="color:#006666;">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% else %}
                                    <h3 style="color:#CC6600">{{ author.displayname }} ({{author.get_author_hostname}})</h3>
                                {% endif %}
                            {% endif %}
                            <button type="button" class="btn btn-primary" onClick="window.location='/friends/befriend/{{ author.uid }}';">Befriend</button>
                            <button type="button" class="btn btn-primary" onClick="window.location='/friends/follow/{{ author.uid }}';">Follow</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
