<!--### Source material taken from:
### https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
### March 2, 2015
### No explicit license -->

{% extends "base.html" %}
{% block title %}New comment{% endblock %}
{% block head %}New comment{% endblock %}
{% block content %}
		<form method="post" action=".">{% csrf_token %}
			{{ form.as_p}}
			{% if form.errors %}
				<div class="alert alert-danger" role-"alert">
				{{ form.content.errors }}
				</div>
			{% endif %}
			<input class="btn btn-default" type="submit" value="Comment" />
		</form>

{% endblock %}
