<!--### Source material taken from:
###		https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
### 	March 2, 2015
### No explicit license -->
{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block head %}Log In{% endblock %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role-"alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Your username and password didn't match. Please try again.
        </div>
    {% endif %}
    {% if user.is_superuser %}
    <h1 style="text-align: center">Please log out of administrator account before logging in</h1>
    {% else %}

    <div class= " center_div ">
    <form class="margin-base-vertical" role= "form" method="post" action=".">{% csrf_token %}
        
        <div class= "col-sm-8 col-md-offset-2">
        <h2 class= "form-signin-heading"> Sign in </h2>
            <h4> Username: </h4>
            <input class= "form-control" for="id_username" name="username" type="text" required autofocus="" />
        </br>
            <h4> Password: </h4>
            <input class="form-control" for="id_password" name="password" type= "password" required />

            </br>
            <div class="text-center">
            <input class="btn btn-default btn-lg" type="submit" value="Login" />
            <input type="hidden" name="next" value="/home" />
            </div>
        </div>
    </form>
    {% endif %}
        </div>

{% endblock %}
