<!--### Source material taken from:
###		https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
### 	March 2, 2015
### No explicit license -->
{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block head %}Log In{% endblock %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role-"alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Your username and password didn't match. Please try again.
        </div>
    {% endif %}
    {% if user.is_superuser %}
    <h1 style="text-align: center">Please log out of administrator account before logging in</h1>
    {% else %}
    <form class="form-horizontal" method="post" action=".">{% csrf_token %}
        <div class="form-group">
            <label for="id_username" class="col-sm-2 control-label">Username:</label>{{ form.username }}
            </div>
            <div class="form-group">
            <label for="id_password" class="col-sm-2 control-label">Password:</label>{{ form.password }}
            </div>
            <div class="form-group">
             <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-default" type="submit" value="Login" />
            <input type="hidden" name="next" value="/home" />
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
        </div>  
    </form>
    {% endif %}
    
{% endblock %}
