<!--### Source material taken from:
###		https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
### 	March 2, 2015
### No explicit license -->
{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
     <form class="form-horizontal" method="post" action=".">{% csrf_token %}
        <table border="0" class="table-condensed">
            {{ form.as_table }}
        </table>
        <input class="btn btn-default" type="submit" value="Register" />
    </form>
{% endblock %}
