<!--### Source material taken from:
###		https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
### 	March 2, 2015
### No explicit license -->
{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<div class="col-md-6 col-md-offset-3">
     <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form %}
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Register" />
    </div>
    </form>
</div>
{% endblock %}
