<!--### Source material taken from:
###     https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
###     March 2, 2015
### No explicit license -->

{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap3.3.2/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--<link rel="icon" href="{% static 'favicon.ico' %}"> -->

     <!-- Bootstrap core JavaScript
================================================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap3.3.2/js/bootstrap.min.js'%}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
    
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            
            <a class="navbar-brand" href="/home">Distributed Social Network</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                  <li {% if request.get_full_path == "/home/" %}class="active"{% endif %}><a href="/home/">Home{% if request.get_full_path == "/home/" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                  <li {% if request.get_full_path == "/friends/" %}class="active"{% endif %}><a href="/friends/">Friends{% if request.get_full_path == "/friends/" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                  <li {% if request.get_full_path == "/post/" %}class="active"{% endif %}><a href="/post/">Post{% if request.get_full_path == "/post/" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                  <li><a href="/logout/">Logout</span></a></li>
              {% else %}
                  <li {% if request.get_full_path == "/accounts/login/" %}class="active"{% endif %}><a href="/accounts/login/">Log In{% if request.get_full_path == "/accounts/login" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                  <li {% if request.get_full_path == "/register/" %}class="active"{% endif %}><a href="/register">Register{% if request.get_full_path == "/register/" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
     <!-- Content starts here -->
     {% block content %}{% endblock %}

    </div> <!-- /container -->


  </body>
</html>
