<!--### Source material taken from:
###     https://mayukhsaha.wordpress.com/2013/05/09/simple-login-and-user-registration-application-using-django/
###     March 2, 2015
### No explicit license -->

<!-- Still a work in progress , https://realpython.com/blog/python/django-and-ajax-form-submissions/
,https://github.com/realpython/django-form-fun -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class= "panel panel-default">
            <div class= "panel-heading" style="text-align: center; word-wrap: break-word;">
                <h4 class="panel-title"> {{user.username}} </h4>
            </div>
            
            <div class= "panel-body" style="text-align:center; word-wrap: break-word;">
                {% if author.has_picture %}
                    <img src="/media/{{author.get_picture}}/" alt="profile picture" style="height:160px; max-width:100%; text-align:center;" class= "center-block"/>
                {% else %}
                    <img src="{% static 'profile.png' %}" alt="profile picture" style="height:160px; width:160px; text-align:center;" class= "center-block"/>
                {% endif %}
                <br />
                <br />
                    <h5>Email:</h5><span id="profileEmail">{{ user.email }}</span> <br />
                    <h5>Github:</h5><span id="profileGithub">{{ author.github }}</span> <br />
                    <br />

              <a class= 'btn btn-default btn-block' href= '/friends/edit/'>Edit </a>
              {% if global_stream %}
                <br/>
                <a class= "btn btn-default btn-block" href='/home'>Global newsfeed</a>
              {% endif %}
              {% if personal_stream %}
                <br/>
                <a class="btn btn-default btn-block" href="/home/author/posts">My newsfeed</a>
              {% endif %}
            </div>
        </div>
    </div>
    <div class= "col-md-9" >
        {% if global_stream %}
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/home/author/posts/">All posts</a></li>
            <li role="presentation"><a href="/home/author/posts/friends/">Friends posts only</a></li>
        </ul>
        <br>
        {% if github_activity %}
        <div class= "panel-group" id="accordion" style="word-wrap: break-word;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">My recent github activity</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <ul>
                    {% for item in github_activity %}
                    <li>{{item}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
		{% if posts %}
			{% for p in posts %}
 				<div id= "post-{{p.uid}}" class= "panel panel-default" style="word-wrap: break-word;">
 					<div class= "panel-heading">
                        {% if p.send_author.has_picture %}
                        <span class="pull-left"> <img class="img-responsive" src= "/media/{{p.send_author.get_picture}}/" alt="profile picture" style= "height:40px; width:40px;"/> </span>
                        {% else %}
 						<span class="pull-left"> <img class="img-responsive" src= "{% static 'profile.png' %}" alt="profile picture" style= "height:40px; width:40px;"/> </span>
                        {% endif %}
 						<span style="display:inline-block; padding-left: 5pt;">

                            {% comment "Optional note" %}
                                <p>Check if the host of the author of the post is team 8 aka 'http://cs410.cs.ualberta.ca:41084'</p>
                                <p> Only redirect to the authorpage if the maker of a post is not the user themselves </p>
                                <p> If not, display their host after their username and color the links different hex colors. </p>
                            {% endcomment %}

                            {% if p.send_author.host == 'http://cs410.cs.ualberta.ca:41084'%}
                                <a href="/home/{{p.send_author.uid}}">{{p.send_author.get_name}} </a>

                            {% elif p.get_post_host == 'hindlebook' %}
                                <a style="color:#006666" href="/home/{{p.send_author.uid}}/">{{p.send_author.get_name}} ({{p.get_post_host}}) </a>

                            {% else %}
                                <a style="color:#CC6600" href="/home/{{p.send_author.uid}}/">{{p.send_author.get_name}} ({{p.get_post_host}}) </a>

                            {% endif %}
                            
                            {% if p.receive_author %}
                                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"> </span> {{p.receive_author}}
                            {% endif %}
                            <br /> 
                            {{p.published}} 
                            <br /> 
                            {{p.title}} 
                        </span>
                        {% if author == p.send_author %}
                            <span class="pull-right">
                                <a id= "delete-{{p.uid}}">
                                    <img src= "{% static 'icons/0173-bin.svg' %}"
                                    alt="delete icon" style= "height:25px; width:25px;"/>
                                </a>
                            </span>
                        {% endif %}
                    </div>
                    <div class= "panel-body">
                        {{p.markdown_to_html}}

                         {% comment "Optional note2" %}
                        <p> If the post has an image, show that image </p>
                        <p> Will fix the image in posts later </p>
                        {% endcomment %}

                        {% if p.has_image %}
                            <img class="img-responsive" src="/media/{{p.get_image}}/" style="height:324px;  max-width:100%;">
                        {% endif %}
                    </br>
                        <h4 style= "text-decoration: underline;"> Comments </h4>
                            <ul id='{{p.uid}}-2'>
                            {% if p.get_comments %}
                                {% for comments in p.get_comments %}
                                    <li id='{{comments.uid}}'> {{comments.get_comment_body}} </li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                    </div>

                    <div class= "panel-footer clearfix">
                        <form id= "{{p.uid}}-1" class= "form-horizontal" method= 'post'>
                            {% csrf_token %}
                        <div id= "error{{p.uid}}"></div>
                    <div class= "col-sm-10">
                        <input class="form-control" id="content{{p.uid}}" name="content" type="text">
                    </div>
                    <span class="pull-right">
                        <input class="btn btn-primary" type="submit" value="Comment" />
                    </span>
                        </form>
                    </div>

                <script>
                $(function() {
                    $('#{{p.uid}}-1').on('submit', function(event) {
                        event.preventDefault();
                        create_comment();
                    });

                    $("#post-{{p.uid}}").on('click', 'a[id^=delete-]', function(){
                        var post_id = $(this).attr('id').split('-')[1];
                        console.log(post_id)
                        delete_post(post_id);
                    });

                // Used to delete a post
                function delete_post(post_id){
                    $.ajax({
                        url : "/post/delete/{{p.uid}}", 
                        type : "DELETE", 
                        data : { post_id : post_id }, 
                        success : function(json) {
                          $('#post-'+post_id).hide(); 
                          console.log("Deleted the post");
                        },

                        error : function(xhr,errmsg,err) {
                            // Show an error
                            $('#error{{p.uid}}').html("<div> <p class='text-danger'> An error occured in deletion. </p>" +"</div>");
                            console.log(xhr.status + ": " + xhr.responseText); 
                            //Get rid of error message in 2 seconds
                            setTimeout(function() {
                                $("#error{{p.uid}}").html("<div> </div>");
                            }, 2000); 
                        }

                    });

                };
                    //Used to post a comment to a post.
                    function create_comment() {
                        $.ajax({
                            url:"/post/comment/{{p.uid}}/",
                            type:"POST",
                            data: {the_comment: $('#content{{p.uid}}').val() },

                            success: function(json) {
                                $('#content{{p.uid}}').val('');
                                console.log(json)
                                console.log(json.content)
                                //Add comment to the top of the list
                                $('#{{p.uid}}-2').prepend("<li id='{{comments.uid}}'>"+json.content+"</li>");
                                console.log('Comment was posted');
                            },
                            error: function(xhr, errmsg, err) {
                                $('#error{{p.uid}}').html("<div> <p class='text-danger'> Can't post an empty comment. </p>" +"</div>");
                                console.log(xhr.status + ": " + xhr.responseText);
                                console.log(errmsg);

                                //Get rid of error message in 2 seconds
                                setTimeout(function() {
                                    $("#error{{p.uid}}").html("<div> </div>");
                                }, 2000);
                            }

                        });
                    };
                     /*
                    The functions below are required else there will be a 403 error on each
                    attempt for a comment.
                    */
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    var csrftoken = getCookie('csrftoken');
                    /*
                    The functions below will create a header with csrftoken
                    */

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }
                    function sameOrigin(url) {
                        // test that a given url is a same-origin URL
                        // url could be relative or scheme relative or absolute
                        var host = document.location.host; // host + port
                        var protocol = document.location.protocol;
                        var sr_origin = '//' + host;
                        var origin = protocol + sr_origin;
                        // Allow absolute or scheme relative URLs to same origin
                        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                            // or any other URL that isn't scheme relative or absolute i.e relative.
                            !(/^(\/\/|http:|https:).*/.test(url));
                    }

                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                                // Send the token to same-origin, relative URLs only.
                                // Send the token only if the method warrants CSRF protection
                                // Using the CSRFToken value acquired earlier
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });
                });
                </script>
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">Previous</a>
                    {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>

        {% else %}
        <h4>No posts available.</h4>
        {% endif %}
    </div>
</div>

{% endblock %}
